node_modules/
npm-debug.log
yarn-error.log

.env
.env.docker
.env.*.local
.env.production
.env.local

src/serviceAccountKey.json
serviceAccountKey.json

dist/
build/

.DS_Store
.vscode/
.idea/

*.log
*.pid
